.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #000000;
}

.Login{
  top: 50px;
  left: 25%;
  width: 50%;
}

.Explore{
  font-size: 60px;
}

.Home{
  font-size: 60px;
}

.Profile{
  font-size: 60px;
}

.WelcomeUsername{
  font-size: 18px;
  position: relative;
  margin-left: 350px;
}

.HomeImage{
  width: 100%;
  border: solid 5px #fdfffc;
  border-radius: 5%;
  opacity: 1;
}

.ExploreImage{
  width: 250px; 
  height: 250px;
}

.Login{
  display: flex; 
  border-radius: 10%

}

.HomeImageTitle {
  color: #fdfffc;
  position: relative;
  bottom: 50px;
  opacity: 0.7;
}

.TitleInsideImage{
  font-size: 20px;
}

.ImageContainer{
  height: auto;
  width: auto;
}

.ProfileUl{
  list-style: none;
  display: flex;
  flex-direction: column;
}

.ProfileLi{
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}

a{
  color: #fdfffc;
}

a:hover{
  opacity: 0.7;
  color: #fdfffc;
  }

a:visited {
  opacity: 0.3;
}

h1{
  color: #fdfffc;
  font-size: 60px;
}

h2{
  color: #ffffff;
}

h3{
  color: #fdfffc;
}

.HomeUl{
  list-style: none;
  color: #000000;
  align-content: center;
  padding-right: 25%;
  padding-left: 25%;
}

.HomeLi{
    margin-bottom: 100px;
    background-color: #011627;
    border-radius: 2%;
    padding: 20px;
}

.Buttons{
  padding-top: 50px;
 }












